<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094819462505-9m5557f65dnp34vk5mpj209kh5vpnct2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094819462505-9m5557f65dnp34vk5mpj209kh5vpnct2</string>
	<key>API_KEY</key>
	<string>AIzaSyBSlRfC8GYsjmZlsLuuwNXgTntE-SQd1Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>1094819462505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epicDeveloper.allConnected</string>
	<key>PROJECT_ID</key>
	<string>allconnected-e6e70</string>
	<key>STORAGE_BUCKET</key>
	<string>allconnected-e6e70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094819462505:ios:287c2f2a22ebb3413651f8</string>
	<key>DATABASE_URL</key>
	<string>https://allconnected-e6e70-default-rtdb.firebaseio.com</string>
</dict>
</plist>